<mat-card style="max-width: 30%; margin: auto">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="container">

      <div class="center">
        <mat-form-field>
          <input matInput placeholder="Email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"  />
          <mat-error *ngIf="submitted && f.email.errors" class="invalid-feedback">
            <mat-error *ngIf="f.email.errors.required">Niepoprawny adres email</mat-error>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="center">
        <mat-form-field>
          <input matInput placeholder="Hasło" type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"/>
          <mat-error *ngIf="f.password.errors" class="invalid-feedback">
            <mat-error *ngIf="f.password.errors.required">Pole hasło jest wymagane</mat-error>
          </mat-error>
        </mat-form-field>
      </div>
      <div class="center">
        <button mat-raised-button [disabled]="loading" class="btn btn-primary" (click)="onSubmit()">
          Zaloguj
        </button>
      </div>
      <div class="center">
        <mat-spinner class="spinner" [diameter]="40" [style.display]="showSpinner ? 'inline' : 'none'"></mat-spinner>
      </div>
  </div>
  </form>
</mat-card>
