<mat-toolbar class="app-toolbar" color="primary" [class.mat-elevation-z10]="!isActive" >
  <mat-toolbar-row>
    <span >
       <a mat-flat-button class="logobutton" color="primary" routerLink=".">
      <img class="logo" src="../../assets/button.png"> Let's share a ride
         </a>
    </span>
    <span class="example-spacer"></span>
    <div class="example-button-row">
      <a mat-flat-button color="primary">Wyszukaj przejazd</a>
      <a mat-flat-button color="primary" *ngIf="loggedIn">Dodaj przejazd</a>
      <a mat-flat-button color="primary" *ngIf="loggedIn" (click)="logout()">Wyloguj sie</a>
      <a mat-flat-button color="primary"  routerLink="signup" *ngIf="!loggedIn">Zarejestruj się</a>
      <a mat-flat-button color="accent" routerLink="login" *ngIf="!loggedIn">Zaloguj się</a>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>

