<mat-form-field>
  <input #city [(ngModel)]="selectedCity" #searchBox matInput placeholder="{{placeholder}}" [matAutocomplete]="auto"
         (keyup)="search(searchBox.value)" (keyup.enter)="onEnter()">
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
    <mat-option *ngFor="let city of autoCities" [value]="city" >
      <span>{{ city.name}}</span>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>



<!--<mat-form-field>-->
  <!--<input #city [(ngModel)]="selectedCity" #searchBox matInput placeholder="{{placeholder}}" [matAutocomplete]="auto"-->
         <!--(keyup)="search(searchBox.value)" (keyup.enter)="onEnter()">-->
  <!--<mat-autocomplete #auto="matAutocomplete">-->
    <!--<mat-option *ngFor="let name of filteredCities" [value]="name">-->
      <!--<span>{{ name }}</span>-->
    <!--</mat-option>-->
  <!--</mat-autocomplete>-->
<!--</mat-form-field>-->
